SetEnv APPLICATION_ENV develop
# SetEnv APPLICATION_ENV production
SetEnv KOHANA_ENV DEVELOPMENT
# SetEnv KOHANA_ENV PRODUCTION

DirectoryIndex index.php
Options -Indexes
RewriteEngine On

# Allow any js bundles to be displayed directly, otherwise go to js.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (js\/bundles\/).* js.php/$0 [PT,L]

# Allow any css bundles to be displayed directly, otherwise go to css.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (css\/bundles\/).* css.php/$0 [PT,L]

# Put www in front of domains if there is no subdomain
RewriteCond %{HTTP_HOST} ^[^\.]+\.(nl|be|fr|es|de|com|co|org|eu|net){1} [NC]
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT]